*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.container{
    width: 1140px;
    margin: auto;
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}


/* header part */
.menu{
     font-family: "Inter";
}
.logo img{
    width: 100%;
}
nav ul{
 display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
    list-style: none;
}

nav a{
    text-decoration: none;
    
}
#home{
    color: black;
    font-weight: 700;
}
#shop-about{
    color: rgb(137, 135, 161);
}
#card{
    color: black;
}
.fa-solid{
margin:0px 10px 0px 48px;

}
/* header end */



/* main star */
.banner{
    margin-top: 150px;
    display: flex;

}

.left span{
    color: red;
}
.left h1{
    margin-bottom: 13px;
    font-size: 65px;
    font-family: "Noto Serif", serif;
}
.left p{
    max-width: 95%;
    font-size: 22px;
    color: rgba(0, 0, 0, 0.5);
      font-family: "Inter";
}





/* main end */








/* responsive */
/* header start */
@media screen and (width<=575px){
  
    .container{
        width: 350px;
    }
    .service{
   display: none;
    }
    nav{
 justify-content: space-between;
margin-top: 50px;
    }
    .logo img{
        width: 60%;
    }
    /* header end */
    /* main start */

.banner{
    margin-top: 150px;
  gap: 28px;
    flex-direction: column-reverse;

}

.left span{
    color: red;
}
.left h1{
 
    font-size: 24px;
   
}
.left p{
    font-size: 13px;
}
.right img{
    width: 350px;
}
    
    /* main end */
}